.cartImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    mix-blend-mode: darken;
}

.cartItem{
    border-bottom: 1px solid #cdcdcd;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.imgAndTitle{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
}

.otherControls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.qtyDisplay{
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem;
}

.qtyInput{
    border: none;
    font-size: 1rem;
    font-weight: 500;
}

.totalCartPrice{
    font-size: 1.3rem;
    font-weight: 600;
}

@media screen and (max-width:900px) {
    .cartItem{
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 3rem;
    }

    .otherControls{
        justify-content: start;
        gap: 3rem;
    }
}